@model CarouselItem
@{
    ViewData["Title"] = "Create Carousel Item";
}
<h1>@ViewData["Title"]</h1>

@{
    ViewBag.ActionMethod = "Create";
}

<partial name="CreateEditForm" model="Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}